---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 4
    image: true
  - roles: [phd, masters]
    width: 8
    image: true
- - roles: [intern, intern-alum, collab]
    width: 4
    image: false
---

<div class="jumbotron">
    <p>
        Welcome to the home of the <b>Embodied AI Lab</b> at the <b>University of Montreal</b>. A group dedicated to making robots more capable, easier to use, and safer with machine learning where appropriate.
    </p>
</div>

<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fas fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>

<section>
    <h2>Current Research Projects</h2>
    <div class="card-columns">
        {% comment %}
        Sort the projects by date, putting those without dates last
        {% endcomment %}
        {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
        {% assign projects_by_date = projects_by_date | reverse %}
        {% for p in projects_by_date %}
            {% if p.status != "inactive" %}
                {% include project-card.html project=p %}
            {% endif %}
        {% endfor %}
    </div>
    <p></p>
    <h2>Past Research Projects</h2>
    <div class="card-columns">
        {% for p in projects_by_date limit: site.front_page_old_projects %}
          {% if p.status == "inactive" %}
            {% include project-card.html project=p %}
          {% endif %}
        {% endfor %}
    </div>
        <p>
            <span class="fas fa-fw fa-history"></span>
            <a href="{{ site.base }}/resesarch.html">All projects&hellip;</a>
        </p>

</section>

<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
