---
layout: default
title: People

# groups of columns of {roles: list, width: num, image: bool}
member-tables:
- - roles: [faculty, postdoc]
    width: 4
    image: true
  - roles: [phd, masters]
    width: 4
    image: true


alumni-tables:
- - roles: [masters-alum, intern-alum]
    width: 4
    image: false

---

<div class="card border-bottom-primary shadow py-2 mb-4">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="h2 font-weight-bold text-primary mb-1">Members</div>
            </div>
          </div>
        </div>
</div>

<section id="people">
  <div class="card shadow mb-4">
    <div class="card-body">
      {% for role-table in page.member-tables %}
        {% for role-column in role-table %}
          {% for role in role-column.roles %}
            {% include role-people.html role=role image=role-column.image %}
      <br/>
          {% endfor %}
        {% endfor %} 
      {% endfor %}
    </div>
  </div>  
</section>


<div class="card border-bottom-primary shadow py-2 mb-4">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="h2 font-weight-bold text-primary mb-1">Alumni</div>
            </div>
          </div>
        </div>
</div>

<section id="people">
  <div class="card shadow mb-4">
    <div class="card-body">
      {% for role-table in page.alumni-tables %}
      {% for role-column in role-table %}
      {% for role in role-column.roles %}
      {% include role-people.html role=role image=role-column.image %}
      <br/>
      {% endfor %}
      {% endfor %}
      
      {% endfor %}
    </div>
  </div>  
</section>
