
{% assign person = include.person %}

{% comment %}

Usage:

{% for item in site.data.people %}
    {% assign person = item[1] %}
    {% if person.role == role.key %}
        {% include person.html person=person image=true %}
    {% endif %}
{% endfor %}

Use the image parameter to include or not include an image.

Note that pl-0 just removes the left padding from the name part that is put
there by default by Bootstrap columns.

{% endcomment %}

{% if person.webpage %}
    {% capture name %}
        <a href="{{ person.webpage | escape }}"> {{ person.display_name }} </a>
    {% endcapture %}
{% else %}
    {% assign name = person.display_name %}
{% endif %}

{% if person.github %}
    {% capture name %}
        {{ name }} <a href="https://github.com/{{ person.github | escape }}"><i class="fab fa-github"></i></a>
    {% endcapture %}
{% endif %}



{% if include.image %}
<div class="card mr-2 mb-2 border-bottom-primary" style="min-width: 300px">
    <div class="card-body">
            <div class="person person-with-image row align-items-center">
                {% include person-image.html person=person %}
                <h4 class="person-name"> {{ name }} </h4>
                {% if person.bio %}
                    <div class="bio">{{person.bio}}</div>
                {% endif %}
            </div>
    </div>
</div>
{% else %}
<div class="card mr-2 mb-2 border-bottom-primary" style="min-width: 300px">
        <div class="card-body">
                <div class="person person-with-image row align-items-center">
                        {% include person-image.html person=person %}
                        <h4 class="person-name"> {{ name }} </h4>
                        {% if person.bio %}
                            <div class="bio">{{person.bio}}</div>
                        {% endif %}
                </div>
        </div>
</div>
{% endif %}
