
{% assign project = include.project %}

{% if project.link %}
    {% assign proj-url = project.link %}
{% else %}
    {% capture proj-url %}{{site.base}}{{project.url}}.html{% endcapture %}
{% endif %}


<div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
                {% if project.image %}
                    {% assign imgurl = project.image %}
                    {% capture init %}{{ project.image | slice: 0,1 }}{% endcapture %}
                    {% if init == "/" %}
                        {% capture imgurl %}{{site.base}}{{project.image}}{% endcapture %}
                    {% endif %}
                    <a href="{{ proj-url }}">
                            <img class="card-img" style="height: 100%" src="{{imgurl}}" alt="{{project.title}}"/>
                    </a>
                {% endif %}
          </div>
          <div class="col-md-8">
            <div class="card-body border-bottom-primary">
                {% if project.notitle != true %}
                <h3 class="card-title">
                    <strong>
                        {{  project.title }} 
                        <span class="badge badge-secondary">{{ project.status | upper}}</span>
                    </strong>
                </h3>
                {% endif %}
                {% if project.subtitle != null and project.subtitle != "" %}
                <h6 class="card-subtitle">
                    {{  project.subtitle }}
                </h6>
                {% endif %}
              <p class="card-text">{{ project.description | markdownify }}</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              {% if project.people %}
                <div class="card-footer d-flex flex-row flex-wrap justify-content-right">
                    {% for uname in project.people %}
                        <span>
                            {% assign person = site.data.people[uname]  %}
                            {% include person-image.html person=person %}
                        </span>
                    {% endfor %}
                </div>
                {% endif %}
                
                {% if project.no-link != true or project.link %}
                <br/>
                <div class="text-right">
                        <a href="{{ proj-url }}" class="btn btn-primary btn-icon-split btn-sm">
                                <span class="icon text-white-50">
                                <i class="fa fa-robot"></i>
                                </span>
                                <span class="text">Read more &raquo;</span>
                            </a>
                </div>
                
                {% endif %}
            </div>
          </div>
        </div>
      </div>
