<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Geometric Consistency for Self-Supervised End-to-End Visual Odometry.
			</span><br />
			<span class="authors">
				Ganesh Iyer, J Krishna Murthy, K Gunshi Gupta, and Liam Paull.
			</span><br />
			<span class="venuetype"></span><span class="venue">CVPR workshop on Deep Learning for SLAM</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Autonomous Vehicle Navigation in Rural Environments without Detailed Prior Maps.
			</span><br />
			<span class="authors">
				Teddy Ort, Liam Paull, and Daniela Rus.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE International Conference on Robotics and Automation (ICRA)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Learning steering bounds for parallel autonomous systems.
			</span><br />
			<span class="authors">
				Alexander Amini, Liam Paull, Thomas Balch, Sertac Karaman, and Daniela Rus.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE International Conference on Robotics and Automation (ICRA)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Probabilistic cooperative mobile robot area coverage and its application to autonomous seabed mapping.
			</span><br />
			<span class="authors">
				Liam Paull, Mae Seto, John J Leonard, and Howard Li.
			</span><br />
			<span class="venuetype"></span><span class="venue">The International Journal of Robotics Research 37(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Local Positioning System Using UWB Range Measurements for an Unmanned Blimp.
			</span><br />
			<span class="authors">
				Vincent Mai, Mina Kamel, Matthias Krebs, Andreas Schaffner, Daniel Meier, Liam Paull, and Roland Siegwart.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Robotics and Automation Letters 3(4)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				A Data-Efficient Framework for Training and Sim-to-Real Transfer of Navigation Policies.
			</span><br />
			<span class="authors">
				Homanga Bharadhwaj, Zihan Wang, Yoshua Bengio, and Liam Paull.
			</span><br />
			<span class="venuetype"></span><span class="venue">arXiv preprint arXiv:1810.04871</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Hybrid control and learning with coresets for autonomous vehicles.
			</span><br />
			<span class="authors">
				Guy Rosman, Liam Paull, and Daniela Rus.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Duckietown: an open, inexpensive and flexible platform for autonomy education and research.
			</span><br />
			<span class="authors">
				Liam Paull, Jacopo Tani, Heejin Ahn, Javier Alonso-Mora, Luca Carlone, Michal Cap, Yu Fan Chen, Changhyun Choi, Jeff Dusek, Yajun Fang, and others.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE International Conference on Robotics and Automation (ICRA)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Slam with objects using a nonparametric pose graph.
			</span><br />
			<span class="authors">
				Beipeng Mu, Shih-Yuan Liu, Liam Paull, John Leonard, and Jonathan P How.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE/RSJ International Conference onnIntelligent Robots and Systems (IROS)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				A Unified Resource-Constrained Framework for Graph SLAM.
			</span><br />
			<span class="authors">
				Liam Paull, Guoquan Huang, and John J Leonard.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE International Conference on Robotics and Automation (ICRA)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
