
{% assign role-key = include.role %}

{% for role in site.roles %}
    {% if role.key == role-key %}
    <div class="card border-left-primary shadow py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-md font-weight-bold text-primary text-uppercase mb-1">{{ role.name }}</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                        <div class="row ">
                            {% for item in site.data.people %}
                            {% assign person = item[1] %}
                            {% if person.role == role.key %}
                                {% include person.html person=person image=include.image %}
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}
