---
---

<div id="publications">
<table style="width:100%" cellspacing="0">
  <col width="25%">
  <col width="75%">
<tr>

{% if entry.abbr %}
  {% if site.data.venues[entry.abbr] %}
    <abbr>[<a href="{{site.data.venues[entry.abbr].url}}" target="_blank">{{entry.abbr}}</a>]</abbr>
  {% else %}
    <abbr>[{{entry.abbr}}]</abbr>
  {% endif %}
{% endif %}

<div id="{{entry.key}}">

  <td style="border-left: 1px solid #000000; border-bottom: 1px solid #000000;">
  {% if entry.image %}
  <img src="{{entry.image | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}" style="width:100%;">
  {% endif %}
  </td>

  <td style="border-bottom: 1px solid #000000; border-right: 1px solid #000000;">
  {% if entry.type == "thesis" %}
    {{reference}}
  {% else %}
    <span class="title"><b>{{entry.title}}</b></span>
    <span class="author">
      {% for author in entry.author_array %}
      	{% assign fullname = author.first | append: " " | append: author.last %}
        {% unless forloop.last %}
          {% if author.last == site.scholar.last_name %}
            <em>{{fullname}}</em>,
          {% else %}
            {% if site.data.coauthors[fullname] %}
              <a href="{{site.data.coauthors[fullname].url}}" target="_blank">{{fullname}}</a>,
            {% else %}
              {{fullname}},
            {% endif %}
          {% endif %}
        {% else %}
          and
          {% if author.last == site.scholar.last_name %}
            <em>{{fullname}}</em>
          {% else %}
            {% if site.data.coauthors[fullname] %}
              <a href="{{site.data.coauthors[fullname].url}}" target="_blank">{{fullname}}</a>
            {% else %}
              {{fullname}}
            {% endif %}
          {% endif %}
        {% endunless %}
      {% endfor %}
    </span>

    <span class="periodical">
    {% if entry.type == "article" %}
      <em>{{entry.journal}}</em>
    {% elsif entry.type == "inproceedings" %}
      <em>In {{entry.booktitle}}</em>
    {% endif %}
    {% if entry.year %}
      {{entry.year}}
    {% endif %}
    {% if entry.highlight %}
      <b> {{entry.highlight}} </b>
    {% endif %}
    </span>
  {% endif %}

  <span class="links">
  {% if entry.abstract %}
    <a class="abstract">Abstract</a>
  {% endif %}
  {% if entry.arxiv %}
    <a href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank" class="buttonTT">arXiv</a>
  {% endif %}
  {% if entry.html %}
    [<a href="{{ entry.html }}" target="_blank">HTML</a>]
  {% endif %}
  {% if entry.pdf %}
    <a href="{{ entry.pdf | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank" class="buttonTT">PDF</a>
  {% endif %}
  {% if entry.supp %}
    <a href="{{ entry.supp | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank" class="buttonMM">Supplementary</a>
  {% endif %}
  {% if entry.poster %}
    <a href="{{ entry.poster | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank" class="buttonMM">Poster</a>
  {% endif %}
  {% if entry.slides %}
    <a href="{{ entry.slides | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank" class="buttonMM">Slides</a>
  {% endif %}
  {% if entry.projectpage %}
    <a href="{{ entry.projectpage }}" target="_blank" class="buttonPP">Project Page</a>
  {% endif %}
  {% if entry.code %}
    <a href="{{ entry.code }}" target="_blank" class="buttonPP">Code</a>
  {% endif %}
  {% if entry.video %}
    <a href="{{ entry.video }}" target="_blank" class="buttonSS">Video</a>
  {% endif %}

  <!-- BibTeX -->
  <a class="bibtex">BibTeX</a>

  </span>

  <!-- Hidden abstract block -->
  {% if entry.abstract %}
  <div id="abstract">
  <span class="abstract hidden">
    <p>{{ entry.abstract }}</p>
  </span>
  </div>
  {% endif %}

  <!-- Hidden BibTeX block -->
  <div id="mybibtex">
  <span class="bibtex hidden">
    <p>
      @inproceedings{ {{ entry.key }}, <br>
      author = { {% for author in entry.author_array %} 
                  {% unless forloop.last %}
                      {{ author.last }}, {{ author.first }} and
                    {% else %}
                      {{ author.last }}, {{ author.first }} 
                    {% endunless %}
                  {% endfor %} }, <br>
      title = { {{ entry.title }} }, <br>
      {% if entry.journal %}
        journal = { {{ entry.journal}} }, <br>
      {% endif %}
      {% if entry.booktitle %}
        booktitle = { {{ entry.booktitle}} }, <br>
      {% endif %}
      {% if entry.year %}
        year = { {{ entry.year }} }, <br>
      {% endif %}
      }
    </p>
  </span>
  </div>

  </td>
</div>

</tr>
</table>

</div>
