<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
      
        <title>{{ site.name }}{% if page.title and page.url != "/" %} | {{ page.title }}{% endif %}</title>
        <meta name="description" content="{{ site.description }}">
      
        <link rel="shortcut icon" href="{{ '/assets/img/favicon.png' | prepend: site.baseurl | prepend: site.url }}">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ '/assets/css/sb-admin-2.min.css' | prepend: site.baseurl | prepend: site.url }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl | prepend: site.url }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

      </head>
    <body>
        <div class="container">
            <!-- This is a bit nasty, but it basically says be a column first, and on larger screens be a spaced out row -->
            <div class="header d-flex
                        flex-column
                        flex-md-row justify-content-md-between">
                <!-- comment this out until we get a nice logo and name
                     <a href="{{ site.base }}/" class="">
                       <img src="{{ site.base }}/img/logo.png"
                         srcset="{{ site.base }}/img/logo@2x.png 2x"
                         alt="Awesome" id="logo">
                </a> -->
                <ul class="nav nav-pills justify-content-center">

                    {% assign shorturl = page.url | replace:'.html','' | replace:'index','' %}
                    {% for item in site.navigation %}

                        {% assign itemshorturl = item.link | replace:'.html','' %}

                        {% assign maybe-active = '' %}
                        {% if item.title == 'Research' and page.layout == 'project' %}
                            {% assign maybe-active = 'active' %}
                        {% endif %}
                        {% if itemshorturl == shorturl or is-research %}
                            {% assign maybe-active = 'active' %}
                        {% endif %}

                        <li class="nav-item">
                            <a class="nav-link {{ maybe-active }}"
                               href="{{ site.base }}{{ item.link }}">
                                {{ item.title }}
                            </a>
                        </li>

                    {% endfor %}

                </ul>
            </div>

            {% if page.image %}
                <img src="{{ page.image }}"
                     alt="{{ page.title }}"
                     style="max-width: 400px"
                     class="img-fluid mx-auto d-block mb-4"/>
            {% endif %}

            {% if page.notitle != true %}
                <h1>{{ page.title }}</h1>
            {% endif %}

            {{ content }}

            <div class="footer">
                <p>
                    <a href="https://en.diro.umontreal.ca/home/">Department of Computer Science and Operations Research,</a>
                    
                    <a href="https://www.umontreal.ca/">University of Montreal</a>
                </p>
            </div>

        </div> <!-- /container -->

        <!-- Load jquery-->
        <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
        <!-- Support retina images. -->
        <script type="text/javascript"
                src="{{ site.base }}/assets/js/srcset-polyfill.js"></script>
        <!-- Support hidden abstract/bibtex blocks. -->
        <script src="{{ site.base }}/assets/js/common.js"></script>
    </body>
</html>
